<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:pth="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Wszyscy w bazie danych</h1>

<form action="/people/search" method="post">

    <input type="text" name="option"><br>
    <input type="submit" value="Szukaj">

</form>



<div class="container">
    <h2>People</h2>
    <p th:if="${message}"
       th:text="${message}"
       style="color: green"></p>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${people}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
            <td th:text="${person.age}"></td>
            <td>
                <a th:href="@{|/people/${person.id}/delete|}">
                    Delete</a>
                </a>
            </td>
            <td>
                <a th:href="@{|/people/${person.id}/update|}">
                    Update</a>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a href="/add"> Dodaj nową osobę </a>
</body>
</html>